---
import {getCollection} from "astro:content";

import {SITE_METADATA, ITEMS_PER_PAGE} from '@/consts';
import RootLayout from "@/layouts/RootLayout.astro";
import AboutLayout from "@/pages/aboutHero.astro";
import Link from "@/components/Link.astro";
import FormattedDate from "@/components/FormattedDate.astro";
import Tag from "@/components/Tag.astro";
import {excludeDrafts, sortBlogPosts} from "@/functions";

const posts = await getCollection('blog', excludeDrafts).then(sortBlogPosts)
---

<RootLayout title={SITE_METADATA.title} description={SITE_METADATA.description}>
    <AboutLayout></AboutLayout>
   
    <div class="mt-10 flex justify-center">
        <ol class="items-center sm:flex">
            <li class="relative mb-6 sm:mb-0">
                <div class="flex items-center">
                    <div class="z-10 flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full ring-0 ring-white dark:bg-blue-900 sm:ring-8 dark:ring-gray-900 shrink-0">
                        <svg class="w-2.5 h-2.5 text-blue-800 dark:text-blue-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                        </svg>
                    </div>
                    <div class="hidden sm:flex w-full bg-gray-200 h-0.5 dark:bg-gray-700"></div>
                </div>
                <div class="mt-3 sm:pe-8">
                    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Software Engineer</h3>
                    <time class="block mb-2 text-sm font-normal leading-none text-gray-600 dark:text-gray-600"><a href="https://dnet.org.bd/" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Dnet-Development Research Network</a></time>
                    <time class="block mb-2 text-sm font-normal leading-none text-gray-600 dark:text-gray-600">Dhaka, Bangladesh</time>
                    <time class="block mb-2 text-sm font-normal leading-none text-gray-600 dark:text-gray-600">Mar 2022 - Present</time>
                </div>
            </li>

            <li class="relative mb-6 sm:mb-0">
                <div class="flex items-center">
                    <div class="z-10 flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full ring-0 ring-white dark:bg-blue-900 sm:ring-8 dark:ring-gray-900 shrink-0">
                        <svg class="w-2.5 h-2.5 text-blue-800 dark:text-blue-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                        </svg>
                    </div>
                    <div class="hidden sm:flex w-full bg-gray-200 h-0.5 dark:bg-gray-700"></div>
                </div>
                <div class="mt-3 sm:pe-8">
                    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Junior Software Engineer</h3>
                    <time class="block mb-2 text-sm font-normal leading-none text-gray-600 dark:text-gray-600"><a href="https://dnet.org.bd/" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Dnet-Development Research Network</a></time>
                    <time class="block mb-2 text-sm font-normal leading-none text-gray-600 dark:text-gray-600">Dhaka, Bangladesh</time>
                    <time class="block mb-2 text-sm font-normal leading-none text-gray-600 dark:text-gray-600">Feb 2021 - Feb 2022</time>
                </div>
            </li>

            <li class="relative mb-6 sm:mb-0">
                <div class="flex items-center">
                    <div class="z-10 flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full ring-0 ring-white dark:bg-blue-900 sm:ring-8 dark:ring-gray-900 shrink-0">
                        <svg class="w-2.5 h-2.5 text-blue-800 dark:text-blue-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                        </svg>
                    </div>
                    <div class="hidden sm:flex w-full bg-gray-200 h-0.5 dark:bg-gray-700"></div>
                </div>
                <div class="mt-3 sm:pe-8">
                    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Research Assistant (Part-Time)</h3>
                    <time class="block mb-2 text-sm font-normal leading-none text-gray-600 dark:text-gray-600"><a href="https://www.linkedin.com/company/camlacentre/mycompany/" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Centre for Advanced Machine Learning & Applications</a></time>
                    <time class="block mb-2 text-sm font-normal leading-none text-gray-600 dark:text-gray-600">Remote</time>
                    <time class="block mb-2 text-sm font-normal leading-none text-gray-600 dark:text-gray-600">Mar 2021 - Present</time>
                </div>
            </li>

        </ol>
    </div>

    <div class="divide-y divide-gray-200 dark:divide-gray-700">
        <div class="space-y-2 pb-2 pt-6 md:space-y-5">
            <h1 class="text-2xl font-extrabold leading-9 tracking-tight text-gray-900 dark:text-gray-100 sm:text-2xl sm:leading-10 md:text-2xl md:leading-14">
                Recent Thoughts
            </h1>
        </div>
        <ul class="divide-y divide-gray-200 dark:divide-gray-700">
            {!posts.length && 'No posts found.'}
            {posts.slice(0, 2).map((post) => {
                const {date, title, summary, tags} = post.data;
                return (
                        <li class="py-12">
                            <article>
                                <div class="space-y-2 xl:grid xl:grid-cols-4 xl:items-baseline xl:space-y-0">
                                    <dl>
                                        <dt class="sr-only">Published on</dt>
                                        <dd class="text-base font-medium leading-6 text-gray-500 dark:text-gray-400">
                                            <FormattedDate date={date}/>
                                        </dd>
                                    </dl>
                                    <div class="space-y-5 xl:col-span-3">
                                        <div class="space-y-6">
                                            <div>
                                                <h2 class="text-2xl font-bold leading-8 tracking-tight">
                                                    <Link href={`/blog/${post.slug}`}
                                                          class="text-gray-900 dark:text-gray-100">
                                                        {title}
                                                    </Link>
                                                </h2>
                                                <div class="flex flex-wrap">
                                                    {tags.map(({slug}) => (
                                                            <Tag slug={slug}/>
                                                    ))}
                                                </div>
                                            </div>
                                            <div class="prose max-w-none text-gray-500 dark:text-gray-400">
                                                {summary}
                                            </div>
                                        </div>
                                        <div class="text-base font-medium leading-6">
                                            <Link
                                                    href={`/blog/${post.slug}`}
                                                    class="text-primary-500 hover:text-primary-600 dark:hover:text-primary-400"
                                                    aria-label={`Read "${title}"`}
                                            >
                                                Read more &rarr;
                                            </Link>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </li>
                )
            })}
        </ul>
    </div>
</RootLayout>
